.Search {
    border: 5px solid white;
    margin-top: 50px;
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    padding: 30px 20px;
}

.search-box {
    display: flex;
    justify-content: space-around;
    margin: 10px 7%;
    padding: 10px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.item {
    width: 30%;
    margin: 5px;
}

.slide-btns-div {
    margin-top: 20px;
}

.slide-btn {
    margin-right: 20px;
}

.banner-img {
    max-width: 590px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .item {
        width: 28%;
    }
    .search-btn {
        font-size: 12px !important;
        height: 35px !important;
        line-height: 35px !important;
        padding: 0 8px;
    }
    .search-input {
        margin-right: 10px !important;
    }
  }